.track-list-block {
  padding-top: 30px;
  width: 350px;
  height: 600px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.899);
  overflow-y: auto;
}

@media screen and (max-height: 700px) {
  .track-list-block {
    height: 510px;
  }
}
