.run-button {
  padding: 14px 24px;
  text-align: center;
  transition-duration: 0.4s;
  cursor: pointer;
  color: black;
  border: 1px solid rgb(129, 129, 129);
  background-color: rgba(201, 195, 195, 0.594);
  border-radius: 5px;
  font-size: 0.9rem;
  color: black;
}

.run-button:hover {
  border: 1px solid orange;
  background-color: orange;
  color: rgb(233, 233, 233);
}

.header-button {
  background-color: rgba(255, 255, 255, 0.386);
  color: rgba(0, 0, 0, 0.879);
  padding: 8px 18px;
  font-size: 1rem;
  border-radius: 25px;
  cursor: pointer;
  border: none;
  transition-duration: 0.3s;
}

.header-button:hover {
  background-color: black;
  color: yellow;
}

.textarea-button {
  margin: 0;
  padding: 10px 8px;
  width: 130px;
  font-size: 0.9rem;
  text-align: center;
  cursor: pointer;
  color: rgba(74, 73, 73, 0.68);
  border-radius: 5px;
  border: 1px solid rgba(52, 51, 51, 0.756);
  background-color: transparent;
}

.modal-button {
  margin: 0;
  padding: 8px 6px;
  font-size: 1rem;
  cursor: pointer;
  background-color: rgb(211, 143, 18);
  border-radius: 5px;
  border: 0px solid transparent;
  color: white;
  transition: 0.3s;
  font-style: normal;
}

.modal-button:hover {
  background-color: rgb(173, 119, 20);
}
